<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Realtime Workflow Report </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <table id="table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-label="Longest Task Waiting Age: activate to sort column ascending">Longest Task Waiting Age</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Total Tasks: activate to sort column descending">Total Tasks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr role="row">
                                                <td class="sorting_1">{{ realtime_stats.longest_task_waiting_age }}</td>
                                                <td>{{ realtime_stats.total_tasks }}</td>
                                            </tr>
                                    </tbody>
                                    {#<tfoot>#}
                                    {#    <tr>#}
                                    {#        <th rowspan="1" colspan="1">Longest Task Waiting Age</th>                                            #}
                                    {#        <th rowspan="1" colspan="1">Total Tasks</th>#}
                                    {#    </tr>#}
                                    {#</tfoot>#}
                                </table>
                            </div>
                            <div class="col-md-6">
        						<div class="chart-responsive">
        							<canvas id="taskStatsRTChart" style="height: 205px; width: 205px;" height="205" width="205"></canvas>
        						</div>
            					<div class="col-md-4">
            						<ul class="chart-legend clearfix">
            							<li><i class="fa fa-circle-o text-red"></i>Pending Tasks</li>
            							<li><i class="fa fa-circle-o text-green"></i>Assigned Tasks</li>
            							<li><i class="fa fa-circle-o text-yellow"></i>Reserved Tasks</li>
            						</ul>
            					</div>						
            				</div>
            			</div>
            		</div>                                
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
 // $(function () {
    $('#table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "scrollX": true
    });
    var response = '{{ realtime_tasks|json_encode() }}';
    //var response = '{"pending":10,"assigned":90,"reserved":50}';
    response = response.replace(/&quot;/g,'"');
    console.log("response is: "+response);
    var jsonObj = $.parseJSON(response);
    
    //var data = response.replace(/&quot;/g,'"');//JSON.parse(response);

    for (key in jsonObj){
        console.log("key is " + [ key ] + ", value is " + jsonObj[key]['value']);
    }
	var ctx = $("#taskStatsRTChart").get(0).getContext('2d');
	var myDoughnutChart = new Chart(ctx).Doughnut(jsonObj);
 // });
 </script>