<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Twilio softphone.">
    <meta name="author" content="Ashwin Deshpande">
    <title>City Chat</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   
  </head>
  <body>
      <div id="control-sidebar-phone-tab"></div>
      <script>
      "use strict";
        window.onload = function(){
          (function () {
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = '{{ asset('bundles/commcloudvoice/testJS/CustomSoftphone.js')}}';
              var x = document.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
              s.onload = function(){
               
              }
       
	      })();

        }
      </script>
   
  </body>
</html>