 {% extends 'CommcloudVoiceBundle:Supervisor:base_filter.html.twig' %}
 {% block title %}Call Recording Report{% endblock %}
{% block content %}
  
   <div class="box box-primary">
            <div class="alert alert-danger alert-dismissible" id="alertbox" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire
                soul, like these sweet mornings of spring which I enjoy with my whole heart.
            </div> 
              
            {#<div id="GIFIMG" style="display:block;">#}
            {#    <img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">#}
            {#</div>#}
    {#        <div class="box-header">#}
    {#            <h3 class="box-title">Recordings :</h3>#}
    {#        </div>#}
            
    {#        <div class="box-body" id="reportcontainer">#}
    {#</div>#}
        </div>
  {% endblock %} 
  {% block button %}
  <div id="loadingIMG" class="loading" runat="server" style="display:none;">Loading&#8230;</div>   
    <button type="button" id="runreport_callrecording" name="runreport_callrecording" class="btn btn-block btn-primary"> Run Report </button>
{% endblock %}
{% block reportcontainer %}
<div class="box-body" id="callrecording">

</div>
{% endblock %}
  
  {% block javascripts %}    
<script type="text/javascript">
    var jsonDateData = {};
    //alert(EndDateTime + StartDateTime);
    $('#runreport_callrecording').click(function()
        {
              $("#loadingIMG").css("display", "block");
            // $("#GIFIMG").attr("display","block");
            $('.form-control').each(function()
                {
	               var key = $(this).attr('id');
	               jsonDateData[key] =$(this).val();
	           }
            );
            console.log(jsonDateData);
            $('#callrecording').load('{{ path('load_callrecording_table') }}', jsonDateData), function( response, status, xhr ) 
                {
                    if ( status == "error" ) 
                    {
                        var msg = "Sorry but there was an error: ";
                        console.log( msg + xhr.status + " " + xhr.statusText );
                    }
                    console.log("success img");
                    $("#loadingIMG").css("display", "none"); 
                }
             
        }
        
    );
</script>
{% endblock %}