{% extends 'CommcloudVoiceBundle::sidebar.html.twig' %} {% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
            CommXCloud
         </h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">CommXCloud</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<div class="row">
			<div class="col-md-3" id="userWid">
				<div class="box box-widget widget-user">
					<div class="widget-user-header bg-aqua-active">
						<h3 class="widget-user-username"> </h3>
						<h5 class="widget-user-desc">Customer Service Rep</h5>
					</div>
					<div class="widget-user-image">
						{% image '@CommcloudVoiceBundle/Resources/public/images/avatar_1.png' %}
						<img class="img-circle" src="{{ asset_url }}" alt="User Avatar"> {% endimage %}
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-6 border-right">
								<div class="description-block">
									<h5 class="description-header"></h5>
									<span class="description-text">Reservations Accepted</span>
								</div>
							</div>
							<div class="col-sm-6 border-right">
								<div class="description-block">
									<h5 class="description-header"></h5>
									<span class="description-text">Reservations Rejected</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="statisticsContent"></div>
		</div>
		<div class="row">
			<div class="col-md-12" id="workerStatscontent"></div>
		</div>

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->


{% endblock %}

